.form__item_login-password {
    border-bottom: 2px solid rgb(255 255 255);
    color: rgb(255, 255, 255);
    margin-bottom: 0px;   
}
input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}